:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --red : #FF1E00;
  --foam : #E8F9FD;
  --emerald : #59CE8F;
  --black : #000000;
  --ebony : #0E1720;
  --ebony1 :rgb(25, 30, 36)0;
  --bunting : #162A4C;
  --web-orange : #FFA800;
  --aqua-spring : #F8FBFD;
  --gallery : #EEEEEE;
  --font-color : #292f33;
  --lochmara : #0289D0;
  --btn-color : #0289D0;
  --dove-grey : #6F6F6F;
  --silver-chalice : #aaaaaa;
  --neon-red : #FF3131;
  --charcoal : #36454F;  
  --denim : #176ec6;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.App {
  color: var(--font-color);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--aqua-spring);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 10px;
  position: relative;
  border: 2px solid var(--gallery);
  /* overflow: auto; */
}

.card-padding-container {
  padding: 20px 30px;
}

.card-container-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 85%;
  height: 50px;
  background-color: var(--btn-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.card-custom-container-btn {
  width: 100%;
  height: 50px;
  background-color: var(--btn-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.no-account-container {
  font-size: 20px;
}
.no-account-icon {
  font-size: 40px;
}
.flex-align-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.text-align-center {
  display: inline-block;
  text-align: center;
}

.text-align-left {
  display: block;
  text-align: left;
}

.common-text-field {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--btn-color);
  width: 100%;
  padding-bottom: 10px;
  font-size: 16px;
  margin-top: -10px;
}

.text-field-text {
  color: var(--charcoal); 
  font-size: 16px;
  font-weight: 500;
}

.account-circle-avatar {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  border: 4px solid var(--gallery);
}

.account-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.account-info-container-sub {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.account-info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.account-info-text-account-label {
  font-size: 16px;
}

.account-info-text-account-number {
  font-size: 14px;
  color: var(--dove-grey);
  cursor: pointer;
}

.account-info-text-account-number:hover {
  color: var(--blue);
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 2px;
  background-color: var(--gallery);
}

.logo-name {
  font-family: 'Ubuntu';
  font-weight: 500;
  color: var(--neon-red);
  font-size: 32px;
}

.logo-name-sub {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.login-container {

}

.login-heading-text , .heading-text{
  font-family: 'Ubuntu';
  font-weight: 500;
  color: var(--ebony1);
}

.login-forgot-text {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.login-forgot-text:hover {
  color: var(--blue);
}

.login-create-text {
  font-size: 16px;
  font-weight: 500;
}

.login-create-text-highlight {
  color: var(--neon-red);
  cursor: pointer;
}

.mnemonic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 20px;
}

.mnemonic-container ul {
  font-size: 16px;
  text-align: left;
  color: black;
}

.mnemonic-text-container {
  padding: 12px; 
  text-align: left;
  font-size: 20px;
  background: var(--gallery);
  border-radius: 8px;
  /* margin-top: 10px; */
  color: #6f6f6f;
}

.info-circle {
  color: var(--blue);
}

.home-body-container {
  display: flex;
  font-display: column;
  justify-content: center;
  align-items: center;
}

.ether-img-container , .home-icon-common-container{
  border-radius: 100px;
  border: 1px solid var(--silver-chalice);
  display: flex;
  font-display: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.ether-img-container img {
  height: 24px;
  width: 24px;
}

.eth-info-text {
  font-weight: 500;
  color: var(--bunting);
}

.eth-info-price-text {
  font-size: 16px;
  color: var(--dove-grey);
}

.common-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-icon-common-container {
  height: 36px;
  width: 36px;
  border: none;
  color: white;
  background: var(--denim);
  cursor: pointer;
}

.recent-activity-icon {
  color: var(--denim);
  background-color: white;
  border: 1px solid var(--denim);
}

.home-icon-label {
  color: var(--denim);
  font-size: 14px;
}

.more-text {
  color: var(--denim);
  cursor: pointer;
}

.recent-activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.history-main-container {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px;
  cursor: pointer;
}

.history-main-container:hover{
  background-color: #e8e8e8;
}

.history-sub-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.space-between-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.history-extra-info {
  font-size: 12px;
  font-weight: 500;
  color: var(--dove-grey);
}

.history-extra-info-date {
  color: green; 
}




/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}