:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --red : #FF1E00;
  --foam : #E8F9FD;
  --emerald : #59CE8F;
  --black : #000000;
  --ebony : #0E1720;
  --ebony1 :rgb(25, 30, 36)0;
  --bunting : #162A4C;
  --web-orange : #FFA800;
  --aqua-spring : #F8FBFD;
  --gallery : #EEEEEE;
  --font-color : #292f33;
  --lochmara : #0289D0;
  --btn-color : #0289D0;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.App {
  color: var(--font-color);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--aqua-spring);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 10px;
  
  position: relative;
  border: 2px solid var(--gallery);
}

.card-padding-container {
  padding: 20px 30px;
}

.card-container-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 85%;
  height: 50px;
  background-color: var(--btn-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.no-account-container {
  font-size: 20px;
}
.no-account-icon {
  font-size: 40px;
}
.flex-align-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.text-align-center {
  display: inline-block;
  text-align: center;
}

.text-align-left {
  display: block;
  text-align: left;
}

.common-text-field {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--btn-color);
  width: 100%;
  padding-bottom: 10px;
  font-size: 20px;
}

.text-field-text {
  color: var(--ebony); 
  font-size: 16px;
  font-weight: 500;
}

