.size-box-width-12 {
   width: 12px;
}

.size-box-width-14 {
   width: 14px;
}

.size-box-width-16 {
   width: 16px;
}

.size-box-width-20 {
   width: 20px;
}

.size-box-width-24 {
   width: 24px;
}

.size-box-width-28 {
   width: 28px;
}

.size-box-width-32 {
   width: 32px;
}

.size-box-width-36 {
   width: 36px;
}

.size-box-width-40 {
   width: 40px;
}

.size-box-height-12 {
  height: 12px;
}

.size-box-height-16 {
  height: 16px;
}

.size-box-height-20 {
  height: 20px;
}

.size-box-height-24 {
  height: 24px;
}

.size-box-height-28 {
  height: 28px;
}

.size-box-height-32 {
  height: 32px;
}

.size-box-height-36 {
  height: 36px;
}

.size-box-height-40 {
  height: 40px;
}